
/*TODO: check out this tutorial for flipping
 * https://www.w3schools.com/howto/howto_css_flip_card.asp
 * or this video
 * https://www.youtube.com/watch?v=QGVXmoZWZuw
 */

@font-face {
font-family: 'rousseau';
src: url('file://./RousseauDeco.ttf') format('truetype');
src: url('file://RousseauDeco.woff') format('woff');
}

// ADDING JOST FONT
@font-face {
font-family: 'jost';
src: url('file:///Users/bschreck/benshits/fonts/Jost/Jost-VariableFont_wght.ttf');*/
}
@font-face {
font-family: 'cabin-condensed-bold';
src: url('./fonts/Cabin_Condensed/CabinCondensed-Bold.ttf');
}
@font-face {
font-family: 'cabin-condensed-medium';
src: url('./fonts/Cabin_Condensed/CabinCondensed-Medium.ttf');
}

@font-face {
font-family: 'cabin-condensed-reg';
src: url('./fonts/Cabin_Condensed/CabinCondensed-Regular.ttf');
}

@font-face {
font-family: 'cabin-condensed-sb';
src: url('./fonts/Cabin_Condensed/CabinCondensed-SemiBold.ttf');
}

// ADDING JOST ITALIC FONT
@font-face {
font-family: 'jost-italic';
src: url('./fonts/Jost/Jost-Italic-VariableFont_wght.ttf');
}


h1 {
font-family: 'rousseau';
}
h2 {
font-family: 'cabin-condensed-bold';
}
h3 {
font-family: 'cabin-condensed-sb';
}

h4 {
font-family: 'cabin-condensed-medium';
}
h5 {
font-family: 'cabin-condensed-reg';
}

p {
  font-family: 'jost';
}
a {
  font-family: 'jost';
}
button {
  font-family: 'jost';
}

// Color buttons in different colors based on a button size
// Buttons
div[class^="sqs-block-button-container"],
.image-button,
.image-button.sqs-dynamic-text {
  a {
    font-family: 'jost';
    // Small buttons
    /*
    &.sqs-block-button-element--small {
      background-color: #FFFFFF;
    }

    // Medium buttons
    &.sqs-block-button-element--medium {
      background-color: #FF9230;
    }

    // Large buttons
    &.sqs-block-button-element--large {
      background-color: #DBDCEB;
    }
    */
  }
}
  :root {
  --primary-red: #9b2228;
  --primary-orange: #f17929;
  --primary-yellow: #eab644;

  --color-main-bg: white;
  --color-card-bg: #eab644;
  --color-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
}

main {
  /*font-family: "cabin-condensed-sb";*/
  font-size: 18px;
  background-color: var(--color-main-bg);
  color: var(--primary-red);
}

main .card-container {
  width: 320px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  border-radius: 10px;
  background-color: transparent;
  /*box-shadow: 10px 10px var(--primary-orange);*/
  perspective: 1000px;
}

main .card-container-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

main .card-container:hover .card-container-inner {
  transform: rotateY(180deg);
}

main .card-container-front {
  background-color: var(--color-card-bg);
}
/* Position the front and back side */
main .card-container-front, .card-container-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

main .card-container-back {
  transform: rotateY(180deg);
  background-color: var(--primary-red);
}


@media only screen and (min-width: 1024px) {
  main .card-container-front {
    margin-top: 10%;
  }
  main .card-container-back {
    margin-top: 10%;
  }
}

.card-container-thumbnail {
  top: 20px;
  width: 280px;
  height: auto;
  position: relative;
  margin: 20px;
}

.card-container-thumbnail img {
  position: block;
  opacity: 1;
  width: 100%;
  border-radius: 10px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background: --primary-red;
}

.middle svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.card-container-thumbnail:hover .image {
  opacity: 0.3;
}

.card-container-thumbnail:hover .middle {
  opacity: 1;
}

main h1 {
  font-family: "rousseau";
  color: var(--color-white);
  /*font-weight: 600;*/
  font-size: 21px;
}

main p {
  font-family: "jost";
  font-weight: 400;
  font-size: 16px;
}

.card-container-description {
  width: 280px;
  margin-top: 10px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.card-container-price {
  width: 280px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.icon,
.value,
.period {
  vertical-align: middle;
}

.value {
  color: var(--primary-red);
  font-weight: 600;
  font-size: 16px;
}

.period {
  font-weight: 300;
  font-size: 16px;
}

/*
main .card-container-front hr {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  border-color: var(--color-line);
}
*/

.card-container-front .avatar {
  vertical-align: middle;
  width: 24px;
  margin: 10px 10px 10px 0px;

  border: 0.5px solid var(--color-white);
  border-radius: 50%;
}

.card-container-creator {
  width: 280px;
  font-weight: 400;
  font-size: 14px;
}

.creator-name {
  color: var(--color-white);
}

.creator-name:hover,
h1:hover {
  color: var(--primary-red);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 20px;
}
.attribution a {
  color: --primary-red;
}
